/RMI_Server/nbproject/private/
/RMI_Client/nbproject/private/
/RMI_Server/build/
/RMI_Client/build/
/CollectionToView_JavaFX/nbproject/private/
/CollectionToView_JavaFX/dist/
/CollectionToView_JavaFX/build/